* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.lista-nav {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 20px 40px 20px 20px;
    gap: 80px;
}

.lista-nav > li > a {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.menu-button {
    border: none;
    background: transparent;
    font-size: 16px;
}