/* AQUI SOMENTE CORES DA PÃGINA */



.col{
    background-color: #6C9BD9;
}

input[type=button] {
    background-color: #6C9BD9;
}

input[type=button]:hover {
    box-shadow: 2px 0px 10px rgb(95, 123, 160);
}

.lista-nav {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    padding: 20px 0 20px 0;
}

.lista-nav > li > a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

ul.dropdown {
    background-color: rgba(255, 255, 255, 0.959);
    padding: 8px;
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    display: block;
    padding: 10px 40px;
    color: #000;
    text-decoration: none;
    text-align: left;
    font-size: 16px;
}

ul li ul.dropdown li {
    display: block;
}

ul li ul.dropdown {
    width: 80%;
    position: absolute;
    z-index: 999;
    display: none;
    margin-left: 30px;
}

ul li:hover ul.dropdown {
    display: block;
}

ul li ul.dropdown a {
    opacity: 0.5;
}
  

ul li ul.dropdown a:hover {
    opacity: 1;
    color: #000;
}

.dropdown > li > a {
    padding: 10px 50px 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.dropdown > #margin-top-dropdown > a {
    margin-top: 20px;
}

#seta-baixo {
    display: inline-block;
    position: relative;
    bottom: 2px;
}

#link-home > a, #link-quiz > a {
    padding-bottom: 8px;
}

#link-home:hover::after {
    content: "";
    height: 2px;
    background-color: pink;
    margin-left: 25px;
    display: block;
    width: 70%;
    transition: .5s;
    animation-name: hover-animation;
    animation-duration: .2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes hover-animation {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

.mouseSaiu::after {
    content: "";
    background-color: pink;
    margin-left: 25px;
    display: block;
    animation-name: sair-animation;
    animation-duration: .2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes sair-animation {
    0% {
        width: 70%;
        height: 2px;
    }

    100% {
        width: 0%;
        height: 2px;
    }
}

#link-quiz:hover::after {
    content: "";
    height: 2px;
    background-color: pink;
    margin-left: 25px;
    display: block;
    width: 80%;
    transition: .5s;
    animation-name: hover-animation;
    animation-duration: .2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

.mouseSaiuQuiz::after {
    content: "";
    background-color: pink;
    margin-left: 25px;
    display: block;
    animation-name: sair-animation-quiz;
    animation-duration: .3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes sair-animation-quiz {
    0% {
        width: 80%;
        height: 2px;
    }

    100% {
        width: 0%;
        height: 2px;
    }
}

.dropdown > li > a {
    padding: 8px 8px;
}

#margin-top-dropdown:hover::after, #linkGrecoRomana:hover::after, #linkHindu:hover::after, #linkIrlandesa:hover::after, #linkNordica:hover::after, #linkGeral:hover::after, #linkRomana:hover::after {
    content: "";
    height: 2px;
    background-color: pink;
    display: block;
    width: 100%;
    animation-name: dropdown-animations;
    animation-duration: .3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes dropdown-animations {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

#link-dropdown-excessao:hover::after {
    content: "";
    height: 2px;
    background-color: pink;
    display: block;
    width: 100%;
    animation-name: dropdown-excessao-animation;
    animation-duration: .2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes dropdown-excessao-animation {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

.saiuEgipcia::after, .saiuGeral::after, .saiuGr::after, .saiuHindu::after,.saiuIrlandesa::after, .saiuNordica::after, .saiuRomana::after {
    content: "";
    background-color: pink;
    width: 100%;
    display: block;
    animation-name: sair-dropdown-animations;
    animation-duration: .2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes sair-dropdown-animations {
    0% {
        width: 100%;
        height: 2px;
    }

    100% {
        width: 0%;
        height: 2px;
    }
}

.saiuMesopotamia::after {
    content: "";
    background-color: pink;
    display: block;
    width: 100%;
    animation-name: sair-dropdown-excessao;
    animation-duration: .2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes sair-dropdown-excessao {
    0% {
        width: 100%;
        height: 2px;
    }
    100% {
        width: 0%;
        height: 2px;
    }
}

