/* AQUI SOMENTE CORES DA PÁGINA */

header{
    background-color: #6C9BD9;
}

.col{
    background-color: #6C9BD9;
}

input[type=button] {
    background-color: #6C9BD9;
}

input[type=button]:hover {
    box-shadow: 2px 0px 10px rgb(95, 123, 160);
}