@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
 .container{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #040305;
    overflow: hidden;
 }

 .tabs input{
      visibility: hidden;
      display: none;
}


.botoes{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 1;
}


.botoes label{
    width: 20px;
    height: 20px;
    background: #ffff;
    opacity: .5;
    border-radius: 20px;
    cursor: pointer;
    transition: .5s;
}


.tabs input:nth-of-type(1):checked ~ .botoes label:nth-of-type(1),
.tabs input:nth-of-type(2):checked ~ .botoes label:nth-of-type(2),
.tabs input:nth-of-type(3):checked ~ .botoes label:nth-of-type(3),
.tabs input:nth-of-type(4):checked ~ .botoes label:nth-of-type(4),
.tabs input:nth-of-type(5):checked ~ .botoes label:nth-of-type(5),
.tabs input:nth-of-type(6):checked ~ .botoes label:nth-of-type(6),
.tabs input:nth-of-type(7):checked ~ .botoes label:nth-of-type(7),
.tabs input:nth-of-type(8):checked ~ .botoes label:nth-of-type(8),
.tabs input:nth-of-type(9):checked ~ .botoes label:nth-of-type(9)



{
    opacity: 1;
    width: 50px;
}


.conteudo{
    position: relative;
    width: 900vw;
    display: flex;
    transition: .5s;
}
.conteudo .caixa{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
 


}


.conteudo .caixa:nth-of-type(1){
    background: #BF8C60;
    
}
.conteudo .caixa:nth-of-type(2){
    background: #6C9BD9;
}
.conteudo .caixa:nth-of-type(3){
    background: #BF4E4E;
}
.conteudo .caixa:nth-of-type(4){
    background: #036d03;
}
.conteudo .caixa:nth-of-type(5){
    background:  #CF435F;
}
.conteudo .caixa:nth-of-type(6){
    background:#A64B29;
}
.conteudo .caixa:nth-of-type(7){
    background:#386273;
}
.conteudo .caixa:nth-of-type(8){
    background:#971717;
}
.conteudo .caixa:nth-of-type(9){
    background:#73726F;
}





.tabs input:nth-of-type(1):checked ~ .conteudo{
    left: 0;
}
.tabs input:nth-of-type(2):checked ~ .conteudo{
    left: -100vw;
}
.tabs input:nth-of-type(3):checked ~ .conteudo{
    left: -200vw;
}
.tabs input:nth-of-type(4):checked ~ .conteudo{
    left: -300vw;
}
.tabs input:nth-of-type(5):checked ~ .conteudo{
    left: -400vw;
}
.tabs input:nth-of-type(6):checked ~ .conteudo{
    left: -500vw;
}
.tabs input:nth-of-type(7):checked ~ .conteudo{
    left: -600vw;
}
.tabs input:nth-of-type(8):checked ~ .conteudo{
    left: -700vw;
}
.tabs input:nth-of-type(9):checked ~ .conteudo{
    left: -800vw;
}


.conteudo .caixa .conteudocx{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
 


}


.conteudo .caixa .conteudocx ion-icon{
    font-size: 12em;
    color: #ffff;
    --ionicon-stroke-width: 16px;
}


.conteudo .caixa .conteudocx h2{
    font-size: 3em;
    color: #ffff;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 10px;
}


.conteudo .caixa .conteudocx p{
    font-size: 1em;
    color: #ffff;
    max-width: 700px;
    text-align: center;
}


.conteudo .caixa .conteudocx button{
    font-size: 1.2em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .05em;
    padding: 15px 15px;
    background: #ffff;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
    transition: .3s;
}


.conteudo .caixa .conteudocx button:hover{
    letter-spacing: .2em;
   
}

.aba{
    background-color: white;
    width: 50vw;
    height: 100vh;
    display: none;
    text-align: left;
    justify-content: center;
    text-align: center;
}

.aba>h1{
 text-align: center;
 margin: 40px;
 margin-top: 80px;
 font-family: 'Bebas Neue', sans-serif;
 letter-spacing: 10px;
}

.aba>ul, li{
    font-size: 1.2em;
    margin: 60px;
    text-align: left;
}
.aba>a>button{
    font-size: 1.2em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .05em;
    padding: 15px 15px;
    background: #01173b;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
    transition: .3s;
    color:white;
    justify-content: center;
    margin: 50px;
   
}


.aba>a>button:hover{
    letter-spacing: .2em;
}

hr{
    margin: 40px;
    border: 1px solid; 
}