/* AQUI SOMENTE CORES DA PÁGINA */

header{
    background-color: #8C837B;
}

.col{
    background-color: #BEBDBF;
}
input[type=button] {
    background-color: #8C837B;
}

input[type=button]:hover {
    box-shadow: 2px 0px 10px #BEBDBF;
}