@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

main {
    display: flex;
    text-align: justify;
    grid-area: m;
    height: auto;
    
}

.container-main {
    display: flex;
    height: auto;
}

.col {
    padding: 20px;
    background-color: #f0f0f0;
}

.col-6 {
    padding: 50px;
    letter-spacing: 0.7px;
}

li {
    margin: 0 0 10px 0;
}

h2 {
    margin-top: 10px;
}

ul, li {
    list-style: circle ;
}

.col:nth-child(2) {
    flex-basis: 180%;
    background-color: bisque;
}

.container {
    grid-template-columns: 10% 80% 10%;
    grid-template-areas: "h h h"
        "aE m aD"
        "f f f"
    ;
}

header {
    display: flex;
    align-items: center;
    height: 170px;
}

header > h1{
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 10px;
}

h1 {
  margin-left: 35%;
  margin-right: 35%;
}



.logo{
    width: 200px;
}

#asideD {
    grid-area: aD;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 2px 0;
    font-size: 16px;
    grid-area: f;
    width: 100%;
    height: auto;
}

.footer-container {
    padding: 20px;
    max-width: 1500px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    width: 180px;
    height: 180px;
}

.footer-logo img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.footer-links > ul > li {
    list-style: none;
    font-size: 16px;
}

.footer-links ul li {
    margin-bottom: 6px;
}

.footer-links a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
    font-size: 16px;
}

.footer-links a:hover {
    color: #ff6600;
}

.footer-social > ul > li {
    list-style: none;
    padding: 0;
    margin: 0;
}


.footer-social a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    transition: color 0.3s;
}

.footer-social a:hover {
    color: #ff6600;
}

.footer-bottom {
    font-size: 18px;
    text-align: center;
    padding: 5px;
    border-top: 1px solid #555;
}

.footer-bottom p {
    margin: 0;
}

header > h1 {
    font-size: 3em;
}