

main {
    display: flex;
    justify-content: center;
}

.card {
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    margin: 30px;
  }
  
  .card:hover {
      transform: translateY(-5px);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .profile-image {
    border-radius: 100%;
    width: 200px;
    height: 200px;
    margin: 0 auto 10px;
  }
  
  .name {
    font-size: 24px;
    color: #333;
    margin: 0;
  }
  
  .description {
    font-size: 14px;
    color: #666;
  }
  .portifolio{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly ;
  }

  .language-icon img{
    width: 25px;
  }

  .language-icon{
    justify-content: center;
    display: flex;
    text-align: center;
    align-items: center;
  }