* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.lista-nav {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 20px 0 20px 0;
}

.lista-nav > li > a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    display: block;
    padding: 10px 40px;
    color: #000;
    text-decoration: none;
    text-align: left;
    font-size: 16px;
}

ul li ul.dropdown li {
    display: block;
}

ul li ul.dropdown {
    width: 100%;
    position: absolute;
    z-index: 999;
    display: none;
}

ul li:hover ul.dropdown {
    display: block;
}

.dropdown > li > a {
    padding: 10px 50px 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.dropdown > #margin-top-dropdown > a {
    margin-top: 20px;
}

#seta-baixo {
    display: inline-block;
    position: relative;
    bottom: 2px;
}

#link-home:hover::after {
    content: "";
    height: 2px;
    background-color: pink;
    margin-left: 25px;
    display: block;
    width: 70%;
    transition: .5s;
    animation-name: hover-animation;
    animation-duration: .2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes hover-animation {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

.mouseSaiu::after {
    content: "";
    background-color: pink;
    margin-left: 25px;
    display: block;
    animation-name: sair-animation;
    animation-duration: .2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes sair-animation {
    0% {
        width: 70%;
        height: 2px;
    }

    100% {
        width: 0%;
        height: 2px;
    }
}

#link-grecia:hover::after {
    content: "";
    height: 2px;
    background-color: pink;
    margin-left: 25px;
    display: block;
    width: 80%;
    transition: .5s;
    animation-name: hover-animation;
    animation-duration: .2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

.mouseSaiuGrecia::after {
    content: "";
    background-color: pink;
    margin-left: 25px;
    display: block;
    animation-name: sair-animation-grecia;
    animation-duration: .3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes sair-animation-grecia {
    0% {
        width: 80%;
        height: 2px;
    }

    100% {
        width: 0%;
        height: 2px;
    }
}

#margin-top-dropdown:hover::after, #linkFenicia:hover::after, #linkGrecoRomana:hover::after, #linkHindu:hover::after, #linkNordica:hover::after, #linkRomana:hover::after, #linkGeral:hover::after {
    content: "";
    height: 2px;
    background-color: pink;
    margin-left: 10px;
    display: block;
    width: 55%;
    animation-name: dropdown-animations;
    animation-duration: .2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes dropdown-animations {
    0% {
        width: 0%;
    }

    100% {
        width: 55%;
    }
}

#link-dropdown-excessao:hover::after {
    content: "";
    height: 2px;
    background-color: pink;
    margin-left: 10px;
    display: block;
    width: 95%;
    animation-name: dropdown-excessao-animation;
    animation-duration: .2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes dropdown-excessao-animation {
    0% {
        width: 0%;
    }

    100% {
        width: 95%;
    }
}

.saiuEgipcia::after, .saiuFenicia::after, .saiuGeral::after, .saiuGr::after, .saiuHindu::after, .saiuNordica::after, .saiuRomana::after {
    content: "";
    background-color: pink;
    margin-left: 10px;
    display: block;
    animation-name: sair-dropdown-animations;
    animation-duration: .2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes sair-dropdown-animations {
    0% {
        width: 55%;
        height: 2px;
    }

    100% {
        width: 0%;
        height: 2px;
    }
}